.add-wrapper {
  max-width: 1200px;
  margin: 10rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  /* border: 1px solid #9a1750; */
}

.add-wrapper form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  font-family: "Montserrat", sans-serif;
  /* border: 1px solid #9a1750; */
  /* padding: 2rem; */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* input, */
select {
  padding: 1.5rem;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: #ffffff;
  /* margin-bottom: 2rem; */
}

.form-input textarea {
  padding: 1rem;
  border: 1px solid #9a1750;

  width: 100%;

  background-color: #ffffff;
}

/* .form-input {
  display: flex;
  flex-direction: column;
} */

label {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.add-desc {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: #ffffff;
}

.add-desc h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.add-desc p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.edit-add {
  text-align: center;
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn-submit,
.btn-clear {
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.btn-clear {
  padding: 1rem 2.5rem;
  border: #053651 0.5px solid;
  background-color: #ffffff;
}

.btn-submit {
  background-color: #9a1750;
  color: #fff;
  border: 1px solid #9a1750;
}

.btn-submit:hover {
  background-color: #f5f5f5;
  color: #9a1750;
}

.btn-clear:hover {
  background-color: #053651;
  color: #ffffff;
}
